:root {
    --header-and-footer-background-color: #3B4CCA;
    --main-content-background-color: #2C3539;
    --main-content-padding-color: #1e1e1f;
    --main-background-color: #E3350D;
    --button-color: #78C850;
    --button-hover-color: #A33EA1;
    --text-color: #212121;
}

.max_width_1440px {
    height: 100%;
    width: 100%;
    max-width: 1440px;
}

.padding_16px {
    padding: 16px;
    background-color: var(--main-content-padding-color);
}

.display_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding_right_24px {
    padding-right: 24px;
}

.padding_left_24px {
    padding-left: 24px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-background-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--header-and-footer-background-color);
}
.header_main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
    width: 200px;
    border-radius: 8px;
}

.main_content {
    display: flex;
    justify-content: center;
    height: calc(100vh - 200px);
    background-color: var(--main-background-color);   
}

#main_content {
    background-color: var(--main-content-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    overflow: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--header-and-footer-background-color);
}

.footer_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
}