:root {
    --header-and-footer-background-color: #3B4CCA;
    --main-content-background-color: #2C3539;
    --main-content-padding-color: #1e1e1f;
    --main-background-color: #E3350D;
    --text-color: #212121;
}

.max_width_1440px {
    height: 100%;
    width: 100%;
    max-width: 1440px;
}

.min_width_260px {
    min-width: 260px;
}

.padding_16px {
    padding: 16px;
    background-color: var(--main-content-padding-color);
}

.margin_right_and_left_32px {
    margin: 0 32px;
}

.display_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-background-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--header-and-footer-background-color);
}

.header_main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
    width: 150px;
    border-radius: 8px;
}

.main_section {
    display: flex;
    justify-content: center;
    height: calc(100vh - 200px);
    background-color: var(--main-background-color);   
}

#main_content {
    background-color: var(--main-content-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    height: calc(100% - 36px);
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--header-and-footer-background-color);
}

.footer_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
}