#search_container {
    display: flex;
    gap: 8px;
}

input {
    height: 24px;
    width: 200px;
    border-radius: 8px;
}

#search_button {
    width: 60px;
    height: 28px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
}
.sozialmedia_link_icon {
    height: 50px;
    border-radius: 8px;
}

.button_container {
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-content-background-color);
    padding: 8px 0;
}