:root {
    --pokeball-primary-color: #E3350D;
    --pokeball-secondary-color: #2C3539;
    --pokeball-white: #fff;
    --pokeball-shadow: rgba(0,0,0,0.5);
}

.loading_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loading_spinner svg {
    animation: rotate 2s linear infinite;
}

.pokeball_outer {
    fill: var(--pokeball-primary-color);
    filter: drop-shadow(0 0 5px var(--pokeball-shadow));
}

.pokeball_middle {
    stroke: var(--pokeball-secondary-color);
    fill: var(--pokeball-white);
    stroke-linecap: round;
}

.pokeball_button {
    fill: var(--pokeball-secondary-color);
    stroke: var(--pokeball-white);
}